@import "style.css";

body {
    margin-bottom: 200px;
}

main {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    border: 1px solid lightgray;
    background-color: white;
    padding: 25px 20px;
}

.form-container form {
    display: flex;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 50%;
    padding: 0 10px;
}

.avatar-container {
    display: block;
    width: 100%;
}

.avatar-container img {
    width: 150px;
    height: 150px;
}

label {
    margin-bottom: 10px;
    font-size: 15px;
}

input, select {
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 3px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    padding: 0 10px;
}

.button-container > * {
    width: 10%;
    padding: 7px;
    border: 1px solid lightgrey;
    color: white;
    border-radius: 5px;
}

.button-container > *:hover {
    opacity: 0.7;
}

.button-container #back {
    background-color: royalblue;
}

.button-container #del {
    background-color: rgb(180, 0, 0);
}

.button-container #save {
    background-color: rgb(0, 200, 0);
}

