
.container{
    margin-top: 50px;
}

.nuevo{
    background: green;
    width:50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.col-md-7 h2{
    color: #555;
}

.stars{
    height: 15px;
    padding-top: 0;
    margin-bottom: 10px;
}

 .precio-detail{
    color: #3ba852;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;

}

div .derecha input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align-last: center;
    width: 30px;
}
.boton{
    background: #3ba852;
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.carousel-inner img{
    width: 100%;
    height: auto;

}
div .derecha{
    padding-left: 50px;

 }
 
 div .izquierda{
     padding-top: 40px;
     width: 50%;
     margin: 0 auto;
    
 }
 
 div .descripcion2{
     padding-top: 40px;
 }