@import "style.css";

.principal{
    margin-top: 40px;
}

.principal form{
    background-color: white;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.principal form .form-group{
    display: flex;
    flex-direction: column;
}

.principal form textarea{
    height: 100%;
}

.principal form figure img{
    width: 100%;
}

.principal form .btn-group{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}