


.footer {
    
    position: absolute;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    background-image: url('../images/fondo_footer.jpg');
}


.footer .divisor{
        height: 3px;
        display: block;
        background-color: grey;
        margin: 1em 0 1em;
        width: 100%;
         text-align: center;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    text-decoration: none;
    color: gray;
}

.links-interes li{
    list-style: none;
}
.infoyhorarios li{
    list-style: none;
}