/* VARIABLES */

:root{
    --color-rojo: #CD0E2F;
}

*{
    box-sizing: border-box;
    margin: 0;
}

header{
    background-color: black;
    padding: 20px;
    width: 100%;
}

.barra{
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


header .logo{
    text-align: center;
    padding: 0;
}

.caja-busqueda{
    padding: 0;
}

header form{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

header input{
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    padding: 7px;
}


header form button{
    position: absolute;
    right: 0;
    border: none;
    background-color: white;
    border-left: 1px solid gray;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

header .menu{
    display: flex;
    justify-content: center;
    width: 100%;
}

header .menu button{
    border: none;
    background-color: black;
    color: white;
    font-size: 1.9rem;
}

/* Menu desplegable */

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: var(--color-rojo);
    text-decoration: none;
}

li{
    list-style: none;
    font-size: 1.3rem;
}

li i{
    color: white;
    width: 20px;
    height: 20px;
    margin-right: 18px;
}

.lista-usuario{
    border-bottom: 1px solid white;
}


@media(min-width:1024px){
    
}
