@import "style.css";

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

/* BANNER */

.banner{
    display: none;
}

.banner .carousel-control-next, .carousel-control-prev{
    width: 3% !important;
}

/* 
HOME
*/

.principal{
    margin-top: 20px;
}

.titulo h2{
    font-size: 1.8rem;
}


.titulo{
    margin-bottom: 15px;
    margin-top: 15px;
}

.principal .producto:hover{
    box-shadow: 0px 0px 10px 0px #888888;
}

.principal .producto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    padding: 5px;
}

.principal .producto figure{
    text-align: center;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 10px;
    margin: 0;
    width: 100%;
}

.principal .producto figure img{
    width: 100%;
}

.principal .producto article{
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.principal .producto span{
    font-size: 1.2rem;
}

.principal .producto h2{
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 700;
}

/* .categorias{
    margin-bottom: 1rem;
}

.categorias .cat{
    text-align: center;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
} */

/* Categorias populares */
.categorias{
    margin-bottom: 60px;
}
.categorias .titulo{
    padding: 0;
}

.categorias .fila{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 15px;
}

.categorias .columna{
    flex: 50%;
    max-width: 50%;
}

.categorias .columna:last-child{
    display: none;
}

.categorias .columna .cat{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 0.5px solid var(--color-grisClaro);
    background-color: white;
    padding: 20px;
    font-size: 14px;
}

.categorias .columna .cat figure{
    min-height: 48px;

}

.categorias .columna .cat .text{
    color: var(--color-naranja);
}

.categorias .columna .cat:hover{
    box-shadow: 0px 0px 10px 0px #888888;
}

@media(min-width:375px){
    .categorias .columna .cat{
        font-size: 1rem;
    }
}

@media(min-width:768px){
    .banner{
        display: block;
    }

}


@media(min-width: 992px){
    .categorias .columna{
        flex: 20%;
        max-width: 20%;
    }

    .categorias .columna:last-child{
        display: block;
    }
}


