@import 'style.css';

body {
    font-family:  sans-serif
}

.principal {
    padding-top: 2em;
    padding-bottom: 400px;
}

.titulo {
    font-size: 2em;
}


/*****
    TABLA 
*****/
.tabla {
    margin-top: 2em;
    overflow-wrap: break-word;
    overflow-x: auto;
}

.fila {
    display: flex;
    text-align: center;
    min-width: 750px;
    background-color: white;
}

.fila.head {
    font-weight: bold;
    font-size: 17px;
}

.fila .campo {
    border-left: 1px solid lightgray;
    border-top:  1px solid lightgray;
    padding: 10px 0;
    overflow-wrap: break-word;

}

.fila .nombre {
    width: 20%;
}

.fila .apellido {
    width: 20%;
} 

.fila .email {
    width: 35%;
}

.fila .registro {
    width: 12.5%;
}

.fila .acciones {
    width: 12.5%;
    display: flex;
    justify-content: space-evenly;
}

.fila .campo:last-child{
    border-right:  1px solid lightgray;
}

.fila:last-of-type {
    border-bottom: 1px solid lightgray;
}

.tabla .fa{
    font-size: 18px;
}
.tabla .fas{
    font-size: 18px;
}

.campo .btn {
    padding: 0 15px;
}
