@import "style.css";

:root{
    --color-rojo: #CD0E2F;
    --color-naranja: #FF7511;
    --color-grisClaro: #f1f1f1;
}


*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;700&display=swap');

body{
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}



.row{
    justify-content: center;
}

.principal{
    margin-top: 30px;
}

.filtro #filtrar{
    display: block;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 3px 0;
}

.filtro .categorias{
    display: none;
}

.filtro .categorias .cabecera{
    margin: 5px 0;
    padding: 7px;
    background-color: var(--color-naranja);
    font-weight: 700;
    color: white;
}

.filtro .categorias ul{
    padding: 0;
    list-style: none;
}

.filtro .categorias ul li a{
    color: black;
    text-decoration: none;
}

.filtro .categorias ul li a:hover{
    color: var(--color-naranja);
    text-decoration: underline;
}

/* Secccion de listado */

.listado{
    padding: 0 5px;
}

.contenedor-productos{
    width: 95%;
    margin-top: 15px;
}

.contenedor-productos a{
    text-decoration: none;
    color: black;
}

.contenedor-productos .a:hover{
    text-decoration: none;
    color: black;
}

.principal .producto:hover{
    box-shadow: 0px 0px 10px 0px #888888;
}

.principal .producto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.principal .producto figure{
    text-align: center;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 10px;
    margin: 0;
    width: 100%;
}

.principal .producto figure img{
    width: 100%;
}

.principal .producto article{
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}

.principal .producto span{
    font-size: 1.1rem;
}

.principal .producto h2{
    font-size: 1.4rem;
    margin-top: 1rem;
    font-weight: 700;
}

.principal .producto .btn-container{
    display: flex;
    justify-content: space-around;
}


@media(min-width:768px){
    .row{
        justify-content: left;
    }

    .contenedor-productos{
        width: 50%;
        margin-top: 0;
    }

    .filtro .categorias{
        display: block;
    }

    .filtro #filtrar{
        display: none;
    }

    
    .filtro .categorias .cabecera:first-child{
    margin-top: 0;
}
}

@media(min-width:1024px){
    .contenedor-productos{
        width: 25%;
    }
    
}