@import "style.css";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    
}

.contenedor{
    width: 100%;
}

.formulario{
    border: solid 1px grey;
    background: #fff;
    margin-top: 150px;
    padding: 15px 25px;
    border-radius: 3px;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 32px;
    margin-bottom: 15px;
}

.txtpas,#first_name,#last_name, #pass,#pass2,#email{
    font-size: 20px;
    padding: 10px;
}

.custom-file{
    font-size: 18px;
    padding: 10px;
}

.input-contenedor{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* Bootstrap overwrite*/
.form-control {
    border: 1px solid grey;
}

.input-contenedor input {
    width: 100%;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: grey;
}

p{
    text-align: center;
    margin-top: 1em;
}

.link{
    text-decoration: none;
    color: royalblue;
    font-weight: 600;
}

.link:visited {
    color: royalblue;
}

.link:hover{
    color: gray;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 75px;
        margin-bottom: 75px;
    }
}
.cuentas{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.text-danger {
    position: relative;
    top: -15px;
}