*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.footer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    background-image: url('../images/fondo_footer.jpg');
    border-radius: 20px 20px 0px 0px;
}


.divisor{
        height: 3px;
        display: block;
        background-color: grey;
        margin: 1em 0 1em;
        width: 100%;
         text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: gray;
}
