<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 

  <div>
    <form action="" method="POST" enctype="multipart/form-data">
      <div class="principal">
      <div class="container">
      <div class="form-group col-12 ">
      <div id="prueba">

      <div class="">
        <h1 id="hombreAraña">Nuevo producto</h1>
      </div>

      <div id="pos">
        <label for="tipo" id="tipo">Categoria *</label>
        <select name="categoria" id="categ">
          <option value="vacio"> </option>
          <option value="mother">Mother</option>
          <option value="placaDeVideo">Placa de video</option>
          <option value="monitor">Monitor</option>
          <option value="procesador">Procesador</option>
          <option value="componente">Fuente</option>
          <option value="discoRigido">Disco rigido</option>
          <option value="gabinete">Gabinete</option>
          <option value="teclado">Teclado</option>
        </select>
      </div>

      <div id="pos">
        <label for="tipo" id="tipo">Modelo *</label>
        <input type="text" name="modelo" id="categ">
      </div>

      <div id="pos">
        <label for="tipo" id="tipo"> Marca </label>
        <input type="text" name="marca" id="categ">
      </div>

      <div id="pos">
        <label for="" id="tipo"> Precio *</label>
        
        <input id="categ" name="precio" type="number">
      </div>

      <div id="pos">
        <label for="tipo" id="tipo"> Descuento </label>
        <input id="categ" name="descuento" type="number">
      </div>

      <div id="pos">
        <label for="" id="tipo"> Subir imagen </label>
          <input type="file" name="image" class="">        
      </div>

      <div id="pos">
        <label for="tipo" id="tipo"> descripcion </label>
        <textarea name="descripcion" id="descripcion" ></textarea>
        <span id="mini">Incluye estado, caracteristicas y motivo de venta</span>
      </div>
      
      <div id="pos">
        <button id="public" type="submit">Publicar</button>
      </div>
      

      </div>
      </div>
    </div>
    </div>
   </form>
  </div>

      

    
  <%- include('./partials/footer.ejs') %> 


</body>
</html>