<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>



  <div class="container productos-cart">
    <div class="row titulos-cart">
      <tr>
        <th class="product-name" colspan="3">PRODUCTO</th>
        <th class="product-price">PRECIO</th>
        <th class="product-quantity">CANTIDAD</th>
        <th class="product-subtotal">SUBTOTAL</th>
      </tr>
      
      <div class="col-md-12 producto1">
        
        <td class="product-remove">
          <a href="" class="remove" aria-label="Borrar este artículo">×</a>	</td>
          <td class="product-thumbnail">
						<a href=""><img src="/images/mother1.webp" width="300" height="300" src="" class=""" sizes="(max-width: 300px) 100vw, 300px"></a>						</td>






      </div>
    </div>
  </div>