<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>



    <div class="container">
        <div class="row">
            <div class="col-md-5 izquierda">

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/mother1.webp" class="d-block w-100" alt="Primera imagen">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/mother2.webp" class="d-block w-100" alt="Segunda imagen">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/mother3.webp" class="d-block w-100" alt="Tercera imagen">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>

            <div class="col-md-7 derecha">
                <p class="nuevo">Nuevo</p>
                <h2>Mother Asus Strix B450-F Gaming AM4</h2>
                <p class="precio-detail">$1500</p>
                <p><b>Codigo de producto: PIOFRAVEGA2020</b></p>
                <img class="stars" src="/images/stars.png" alt="stars">
                <p><b>Acerca de este producto:</b> </p>
                <ul>
                    <li><b>Socket AM4</b> para procesadores AMD Ryzen™.</li>
                    <li><b>Memoria y almacenamiento más rápidos:</b> Dual-channel DDR4 3200MHz (OC) y soporte para RAID
                        con NVM Express®.</li>
                    <li><b>Iluminación RGB:</b> Se puede sincronizar con un amplio portafolio de dispositivos Aura Sync.
                    </li>
                    <li><b>Conectividad gamer:</b> Doble M.2 y conectores USB 3.1 Gen 2 Tipo-A</li>
                    <li><b>Redes para juegos:</b> Intel Gigabit Ethernet, además de tecnologías como ASUS LANGuard y
                        GameFirst.</li>
                    <li><b>5-Way Optimization:</b> Ajustes automáticos de todo el sistema con perfiles de overclocking y
                        refrigeración creados específicamente para tu equipo.</li>
                    <li><b>Audio para juegos:</b> SupremeFX S1220A y Sonic Studio III crean una ambientación sónica que
                        te mete de lleno en la acción.</li>
                </ul>

                <p><b>Disponibilidad: </b>En Stock</p>
                <label for="text">Cantidad: </label>
                <input class="cantidad" type="text" value="1">
                <a href="/cart"><button type="button" class="btn btn-success boton">Agregar al carro</button></a>





            </div>
            <div class="col-md-12 descripcion2">
                <ul class="product-spec">
                    <li><span class="spec-item">CPU</span>
                        <div class="spec-data">AMD AM4 Socket AMD Ryzen™ 2nd Generation/Ryzen™ with Radeon™ Vega
                            Graphics/Ryzen™ 1st Generation Processors<br>
                            * Refer to&nbsp;<a href="http://www.asus.com/">www.asus.com</a>&nbsp;for CPU support list
                        </div>
                    </li>
                    <li><span class="spec-item">Chipset</span>
                        <div class="spec-data">AMD B450</div>
                    </li>
                    <li><span class="spec-item">Memoria</span>
                        <div class="spec-data"><strong>AMD Ryzen™ Processors</strong><br>
                            4 x DIMM, Max. 64GB, DDR4 3200(O.C.)/3000(O.C.)/2800(O.C.)/2666/2400/2133 MHz Non-ECC,
                            Un-buffered Memory<br>
                            Dual Channel Memory Architecture<br>
                            * Refer to&nbsp;<a href="http://www.asus.com/">www.asus.com</a>&nbsp;for the Memory QVL
                            (Qualified Vendors Lists).</div>
                    </li>
                    <li><span class="spec-item">Gráficos</span>
                        <div class="spec-data">Integrated in the AMD Ryzen™ with Radeon™ Vega Graphics Processors<br>
                            Multi-VGA output support : HDMI/DisplayPort ports<br>
                            – Supports HDMI 2.0b with maximum resolution of 4096 x 2160 @ 60 Hz<br>
                            – Supports DisplayPort 1.2 with max. resolution 4096 x 2160 @ 60 Hz</div>
                    </li>
                    <li><span class="spec-item">Soporte Multi GPU</span>
                        <div class="spec-data"><strong>AMD Ryzen™ 2nd Generation/Ryzen™ 1st Generation
                                Processors</strong><br>
                            Supports AMD 3-Way CrossFireX™ Technology</div>
                    </li>
                    <li><span class="spec-item">Slots de Expansión</span>
                        <div class="spec-data"><strong>AMD Ryzen™ 2nd Generation/ Ryzen™ 1st Generation
                                Processors</strong><br>
                            2 x PCIe 3.0/2.0 x16 (x16 or x8/x4)<br>
                            <strong>AMD Ryzen™ with Radeon™ Vega Graphics Processor</strong><br>
                            1 x PCIe 3.0/2.0 x16 (x8 mode)<br>
                            <strong>AMD B450 chipset</strong><br>
                            1 x PCIe 2.0 x16 (max at x4 mode) *<sup>1</sup><br>
                            3 x PCIe 2.0 x1</div>
                    </li>
                    <li><span class="spec-item">Almacenamiento</span>
                        <div class="spec-data"><strong>AMD Ryzen™ 2nd Generation/ Ryzen™ 1st Generation Processors
                                :&nbsp;</strong>*<sup>2</sup><br>
                            1 x M.2 Socket 3, , with M key, type 2242/2260/2280 storage devices support (SATA &amp; PCIE
                            3.0 x 4 mode)*<sup>3</sup><br>
                            1 x M.2 Socket 3, , with M key, type 2242/2260/2280/22110 storage devices support (PCIE 3.0
                            x 4 mode)*<sup>4</sup><br>
                            2 x SATA 6Gb/s port(s)<br>
                            <strong>AMD Ryzen™ with Radeon™ Vega Graphics Processor :&nbsp;</strong>*<sup>2</sup><br>
                            1 x M.2 Socket 3, with M key, type 2242/2260/2280 storage devices support (SATA &amp; PCIE
                            3.0 x 4 mode)*<sup>3</sup><br>
                            2 x SATA 6Gb/s port(s)<br>
                            <strong>AMD B450 chipset :</strong><br>
                            4 x SATA 6Gb/s port(s),<br>
                            Support Raid 0, 1, 10</div>
                    </li>
                    <li><span class="spec-item">LAN</span>
                        <div class="spec-data">Intel® I211-AT, 1 x Gigabit LAN Controller(s)<br>
                            Anti-surge LANGuard<br>
                            ROG GameFirst Technology</div>
                    </li>
                    <li><span class="spec-item">Audio</span>
                        <div class="spec-data">ROG SupremeFX 8-Channel High Definition Audio CODEC S1220A<br>
                            – Dual OP Amplifiers<br>
                            – Impedance sense for front and rear headphone outputs<br>
                            – Supports : Jack-detection, Multi-streaming, Front Panel Jack-retasking<br>
                            – High quality 120 dB SNR stereo playback output and 113 dB SNR recording input<br>
                            – SupremeFX Shielding Technology<br>
                            – Supports up to 32-Bit/192kHz playback *<sup>5</sup><br>
                            <strong>Audio Feature :</strong><br>
                            – Optical S/PDIF out port(s) at back panel<br>
                            – Sonic Radar III<br>
                            – Sonic Studio III + Sonic Studio Link</div>
                    </li>
                    <li><span class="spec-item">Puertos USB</span>
                        <div class="spec-data"><strong>AMD Ryzen™ 2nd Generation/ Ryzen™ with Radeon™ Vega Graphics/
                                Ryzen™ 1st Generation :</strong><br>
                            3 x USB 3.1 Gen 1 port(s) (3 at back panel, blue)<br>
                            <strong>AMD Ryzen™ 2nd Generation/ Ryzen™ with Radeon™ Vega Graphics/ Ryzen™ 1st Generation
                                :</strong><br>
                            1 x USB 3.1 Gen 1 port(s) (1 at back panel, , Type-C)<br>
                            <strong>AMD B450 chipset :</strong><br>
                            2 x USB 3.1 Gen 2 port(s) (2 at back panel, red)<br>
                            <strong>AMD B450 chipset :</strong><br>
                            2 x USB 3.1 Gen 1 port(s)<br>
                            <strong>AMD B450 chipset :</strong><br>
                            6 x USB 2.0 port(s) (2 at back panel, , 4 at mid-board)</div>
                    </li>
                    <li><span class="spec-item">Caracteristicas Overclocking</span>
                        <div class="spec-data"><strong>ROG RAMCache II</strong><br>
                            <strong>ROG CPU-Z</strong><br>
                            <strong>Pre-mounted I/O Shield</strong><br>
                            <strong>Overwolf</strong><br>
                            <strong>GameFirst IV</strong></div>
                    </li>
                    <li><span class="spec-item">Caracteristicas Especiales</span>
                        <div class="spec-data"><strong>5-Way Optimization by Dual Intelligent Processors 5</strong><br>
                            – Whole system optimization with a single click! 5-Way Optimization tuning key perfectly
                            consolidates TPU, EPU, DIGI+ VRM, Fan Xpert 4, and Turbo App together, providing better CPU
                            performance, efficient power saving, precise digital power control, whole system cooling and
                            even tailor your own app usages.<br>
                            <strong>TPU</strong><br>
                            – Auto Tuning, TurboV, GPU Boost<br>
                            <strong>Fan Xpert4</strong><br>
                            – Fan Xpert 4 featuring Fan Auto Tuning function and multiple thermistors selection for
                            optimized system cooling control<br>
                            <strong>Gamer’s Guardian:</strong><br>
                            – ESD Guards on LAN, Audio, KBMS and USB3.1/3.0/2.0 ports<br>
                            – DRAM Overcurrent Protection<br>
                            – Highly Durable Components<br>
                            – SafeSlot<br>
                            <strong>ASUS EPU :</strong><br>
                            – EPU<br>
                            <strong>AURA :</strong><br>
                            – Aura Lighting Control<br>
                            – Aura RGB Strip Headers<br>
                            – Aura Lighting Effects Synchronization with compatible ASUS ROG devices<br>
                            <strong>ASUS Exclusive Features</strong>&nbsp;:<br>
                            – AI Suite 3<br>
                            – Ai Charger<br>
                            – ASUS Grid<br>
                            <strong>ASUS EZ DIY :</strong><br>
                            – ASUS CrashFree BIOS 3<br>
                            – ASUS EZ Flash 3<br>
                            <strong>ASUS Q-Design :</strong><br>
                            – ASUS Q-Shield<br>
                            – ASUS Q-LED (CPU, DRAM, VGA, Boot Device LED)<br>
                            – ASUS Q-Slot<br>
                            – ASUS Q-DIMM<br>
                            <strong>Digi+VRM</strong><br>
                            <strong>Turbo APP</strong><br>
                            – featuring system performance tuning for selected applications</div>
                    </li>
                    <li><span class="spec-item">Puertos I/O Traseros</span>
                        <div class="spec-data">1 x PS/2 keyboard/mouse combo port(s)<br>
                            1 x DisplayPort<br>
                            1 x HDMI<br>
                            1 x LAN (RJ45) port(s)<br>
                            2 x USB 3.1 Gen 2 (red)Type-A,<br>
                            4 x USB 3.1 Gen 1 (blue) ,<br>
                            2 x USB 2.0<br>
                            1 x Optical S/PDIF out<br>
                            5 x Audio jack(s)</div>
                    </li>
                    <li><span class="spec-item">Internal I/O</span>
                        <div class="spec-data">2 x Aura RGB Strip Headers<br>
                            1 x USB 3.1 Gen 1(up to 5Gbps) connector(s) support(s) additional 2 USB 3.1 Gen 1
                            port(s)<br>
                            2 x USB 2.0 connector(s) support(s) additional 4 USB 2.0 port(s)<br>
                            1 x M.2 Socket 3 with M key, type 2242/2260/2280 storage devices support (SATA &amp; PCIE
                            3.0 x 4 mode)<br>
                            1 x M.2 Socket 3 with M key, type 2242/2260/2280/22110 storage devices support (PCIE 3.0 x 4
                            mode)<br>
                            1 x TPM header<br>
                            1 x COM port(s) connector(s)<br>
                            6 x SATA 6Gb/s connector(s)<br>
                            1 x CPU Fan connector(s)<br>
                            1 x CPU OPT Fan connector(s)<br>
                            3 x Chassis Fan connector(s)<br>
                            1 x AIO_PUMP connector<br>
                            1 x 24-pin EATX Power connector(s)<br>
                            1 x 8-pin EATX 12V Power connectors<br>
                            1 x Front panel audio connector(s) (AAFP)<br>
                            1 x System panel(s)<br>
                            1 x Thermal sensor connector(s)<br>
                            1 x Clear CMOS jumper(s)</div>
                    </li>
                    <li><span class="spec-item">Sistema Operativo</span>
                        <div class="spec-data">Windows® 10 64-bit</div>
                    </li>
                    <li><span class="spec-item">Factor de forma</span>
                        <div class="spec-data">ATX Form Factor<br>
                            12 inch x 9.6 inch ( 30.5 cm x 24.4 cm )</div>
                    </li>
                </ul>




            </div>


        </div>

        <div class="row similares">

            <div class="col-12 productos-relacionados">

                
                <h2>PRODUCTOS RELACIONADOS</h2>
            </div>

            <div class="col-12 col-md-6 col-lg-3 contenedor">

                <div class="producto">
                    <a href="/products/detail">
                        <figure>
                            <img src="/images/mother1.webp" alt="">
                        </figure>
                        <article>
                            <span>Mother ASUS</span>
                            <h2>$1.500</h2>
                        </article>
                    </a>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3 contenedor">

                <div class="producto">
                    <a href="/products/detail">
                        <figure>
                            <img src="/images/mother1.webp" alt="">
                        </figure>
                        <article>
                            <span>Mother ASUS</span>
                            <h2>$1.500</h2>
                        </article>
                    </a>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3 contenedor">

                <div class="producto">
                    <a href="/products/detail">
                        <figure>
                            <img src="/images/mother1.webp" alt="">
                        </figure>
                        <article>
                            <span>Mother ASUS</span>
                            <h2>$1.500</h2>
                        </article>
                    </a>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3 contenedor">

                <div class="producto">
                    <a href="/products/detail">
                        <figure>
                            <img src="/images/mother1.webp" alt="">
                        </figure>
                        <article>
                            <span>Mother ASUS</span>
                            <h2>$1.500</h2>
                        </article>
                    </a>
                </div>

            </div>

        </div>

    </div>








    <%- include('./partials/footer.ejs') %>

</body>

</html>