<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

        <section class="principal">

            <div class="container">
                
                <h2>Editar producto</h2>

                <form action="">
                    <div class="input-group col-12 col-md-6">
                        <label for="">Modelo</label>
                        <input type="text">
                    </div>
                    <div class="input-group col-12 col-md-6">
                        <label for="">Marca</label>
                        <input type="text">
                    </div>
                    <div class="input-group">
                        <label for="">Precio</label>
                        <input type="text">
                    </div>
                    <div class="input-group">
                        <label for="">Descuento</label>
                        <input type="text">
                    </div>

                </form>

            </div>
        </section>


            <%- include('partials/footer') %>
    </body>

</html>