<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>

    <section class="principal">

        <div class="container">
            <div class="row">


                <div class="col-12 col-md-4 col-lg-3">
                    <div class="filtro">

                        <a id="filtrar" onclick="$('#filtros').toggle()"><i class="fa fa-sliders-h"></i> FILTRAR</a>

                        <div class="categorias" id="filtros" >
                            <div class="cabecera">CATEGORIAS</div>
                            <div>Microprocesadores</div>
                            <div>Placas de Video</div>
                            <div>Memorias</div>
                            <div>Almacenamiento</div>
                            <div>Perifericos</div>
                            <div>Monitores</div>
                            <div>Teclados</div>

                            <div class="cabecera">MARCAS</div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="row">

                        <div class="contenedor-productos">

                            <div class="producto">
                                <a href="/products/detail">
                                    <figure>
                                    <img src="/images/product1.jpg" alt="">
                                    </figure>
                                    <article>
                                    <span>Mother ASUS</span>
                                    <h2>$1.500</h2>
                                    </article>
                                </a>
                            </div>

                        </div>

                        <div class="contenedor-productos">

                            <div class="producto">
                                <a href="/products/detail">
                                    <figure>
                                    <img src="/images/product1.jpg" alt="">
                                    </figure>
                                    <article>
                                    <span>Mother ASUS</span>
                                    <h2>$1.500</h2>
                                    </article>
                                </a>
                            </div>
                            
                        </div>

                        <div class="contenedor-productos">

                            <div class="producto">
                                <a href="/products/detail">
                                    <figure>
                                    <img src="/images/product1.jpg" alt="">
                                    </figure>
                                    <article>
                                    <span>Mother ASUS</span>
                                    <h2>$1.500</h2>
                                    </article>
                                </a>
                            </div>
                            
                        </div>

                        <div class="contenedor-productos">

                            <div class="producto">
                                <a href="/products/detail">
                                    <figure>
                                    <img src="/images/product1.jpg" alt="">
                                    </figure>
                                    <article>
                                    <span>Mother ASUS</span>
                                    <h2>$1.500</h2>
                                    </article>
                                </a>
                            </div>
                            
                        </div>

                        <div class="contenedor-productos">

                            <div class="producto">
                                <a href="/products/detail">
                                    <figure>
                                    <img src="/images/product1.jpg" alt="">
                                    </figure>
                                    <article>
                                    <span>Mother ASUS</span>
                                    <h2>$1.500</h2>
                                    </article>
                                </a>
                            </div>
                            
                        </div>

                        <div class="contenedor-productos">

                            <div class="producto">
                                <a href="/products/detail">
                                    <figure>
                                    <img src="/images/product1.jpg" alt="">
                                    </figure>
                                    <article>
                                    <span>Mother ASUS</span>
                                    <h2>$1.500</h2>
                                    </article>
                                </a>
                            </div>
                            
                        </div>

                    </div>
                 </div>
                    
        
            </div>

        </div>

    </section>


    <%- include('./partials/footer.ejs') %>
    
</body>
</html>

