<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %>
    
<body>

    <%- include('partials/header') %> 


      <form class="formulario" method="POST">
        <h1>Iniciar Sesión</h1>

        <div class="contenedor">

            <small id="errorGeneral" class="text-danger"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %> </small>

            <div class="input-contenedor ">
                <input
                class="form-control txtpas" 
                type="email" placeholder="Correo Electronico" name="email">
            </div>
            <small id="errorEmail" class="text-danger"></small>

            
            <div class="input-contenedor">
                <input 
                class="form-control txtpas"
                type="password" placeholder="Contraseña" name="password">
            </div>
            <small id="errorPass" class="text-danger"></small>

            <div class="recordar-container">
                <label for="recordar">Recordar cuenta:</label>
                <input type="checkbox" name="recordar">
            </div>
            <div id="pos">
                <button type="submit" class="button">Iniciar Sesión</button>
            </div>
            <!-- <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
            <p><a class="link" href="/users/restablecer"> ¿Restablecer Contraseña? </a></p> -->
            <p>¿No tienes una cuenta? <a class="link" href="/users/registro"> Regístrate Aquí </a></p>
        </div>
    </form>

    <%- include('./partials/footer.ejs') %> 

  </body>
  </html>