<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>

 


    <div class="container titulo">
      <h2>Nosotros</h2>
      <div class="form-group texto">
        <h5>Blastech Computación es una empresa fundada en el año 2020 dedicada a la comercialización de productos
          informáticos. Nuestros sólidos conocimientos en la materia garantizan la provisión de productos de última
          tecnología y óptima calidad.
        </h5>

        <h5>
          Nuestro objetivo es satisfacer al cliente brindándole productos de la mayor calidad y rendimiento del mercado
          acorde a su presupuesto. Capacitación y actualización permanente del personal tendientes a satisfacer a los
          clientes con las últimas variantes tecnológicas.</h3>
      </div>


      <div class="row">
        <div class="col-12 titulo">
          <h2>Integrantes</h2>
        </div>
      </div>

<div class="principal">
  
      <div class="col-12 col-md-6 col-lg-4" >
       
        <a href="https://github.com/SantiRamallo"><div class="contenido"></a>
          
          <figure>
            <div class="imagen">
            <a href="https://github.com/SantiRamallo"><img src="/images/user/perfilSan.jpg" alt="" /></a>
          </div>
          <h2>
            Santiago Ramallo
           </h2>
           <p>santiagoramallo@gmail.com </p>

           <h5>Empleado empresa aeroportuaria Tienda León</h5>
          </figure>
          <article>
            

            <span></span>


            

          </article>
        
        </div>

      </div>



      <div class="col-12 col-md-6 col-lg-4">
        <div class="contenido">
          <figure>
            <div class="imagen">
            <a href="https://github.com/lucianomazzuca"><img src="/images/user/perfilLuc.jpg" alt="" /></a>
          </div>
          <h2>
            Luciano Mazzuca
          </h2>
          <p>mazzucaluciano@hotmail.com</p>
          <h5>Técnico en programación</h5>
          </figure>
          <article>
           


          </article>
        </div>
      </div>



      <div class="col-12 col-md-6 col-lg-4">
        <div class="contenido">
          <figure>
            <div class="imagen">
            <a href="https://github.com/Lizarr15"><img src="/images/user/perfilFran.jpg" alt="" /></a>
          </div>
          <h2>
            Franco Lizarraga
          </h2>
          <p>lizarragafranco75@gmail.com</p>
          <h5>Estudiante Ingeniería Biomédica</h5>
          </figure>
          <article>
           

            

          </article>
        </div>
      </div>

    </div>
    </div>



  </div>

  </div>
  <%- include('./partials/footer.ejs') %>

</body>

</html>