<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head.ejs') %>
  
<body>

  <%- include('partials/header') %> 



      <form class="formulario">
    
        <h1>Restablecer Contraseña</h1>
         <div class="contenedor">
             
             <div class="input-contenedor">
             <i class="fas fa-envelope icon"></i>
             <input id="txtpas" type="text" placeholder="Correo Electronico">
             
             </div>
             
             <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
             <input id="txtpas" type="password" placeholder="Contraseña Actual">
             </div>

             <div class="input-contenedor">
              <i class="fas fa-key icon"></i>
               <input id="txtpas" type="password" placeholder="Nueva Contraseña">
               </div>

             <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                 <input id="txtpas" type="password" placeholder="Repetir Contraseña">
             </div>
             
             <div id="pos">
              <button class="button"><a href="/">Iniciar Sesion</a></button>
          </div>
             <p>¿Ya tienes una cuenta?<a class="link" href="/login">Iniciar Sesion</a></p>
         </div>
        </form>



        <%- include('./partials/footer.ejs') %> 


      </body>
      </html>