<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/eb58c50aeb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>

<body>

    <footer class="container-fluid">
        <div class="column footer">
            <div class="row">
                <div id="" class="col-12 col-lg-4 links-interes">LINKS DE INTERES
                  
                    <div class="divisor"></div>
                    <ul>
                        <li><a href="/preguntas-frecuentes">PREGUNTAS FRECUENTES</li></a><br>
                        <li><a href="/info">LA EMPRESA</li></a><br>
                        <li><a href="/soporte">SOPORTE TECNICO</li></a><br>

                    </ul>
                </div>
                <div id="" class="col-12 col-lg-4 infoyhorarios">INFORMACION Y HORARIOS
                    <div class="divisor"></div>
                    <p> <a href="https://www.google.com/maps/place/Av.+Hipolito+Yrigoyen+5555,+B1826DQM+Remedios+de+Escalada,+Provincia+de+Buenos+Aires/@-34.7190302,-58.3964973,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccd3fda6c8ca1:0x3f1bf0560d96825e!8m2!3d-34.7190302!4d-58.3943086">Av. Hipolito Yrigoyen 5555</a><br>
                        Lanús Oeste, Buenos Aires - Argentina<br>
                        4626-1085<br>
                        <a href="/enviar-mail">ventas@anonymouspc.com.ar</a><br>
                        Lunes a Viernes de 8:30 a 17:00<br>
                        Sábados de 9 a 12:30
                    </p>

                </div>
                <div id="" class="col-12 col-lg-4 redes-sociales">REDES SOCIALES
                    <div class="divisor"></div>

                    <a href="https://www.facebook.com/anonymouspc">
                        <p>Facebook
                    </a><i class="fab fa-facebook"></i>
                    </p>
                    <a href="https://www.twitter.com/anonymouspc">
                        <p>Twitter
                           </a> <i class="fab fa-twitter"></i>
                        </p>
                        <a href="https://www.instagram.com/anonymouspc">
                            <p>Instagram
                                </a><i class="fab fa-instagram"></i>
                            </p>
                </div>

            </div>







        </div>






    </footer>
</body>

</html>