<footer class="container-fluid">
    <div class="column footer">
        <div class="row">
            <div id="" class="col-12 col-lg-4 links-interes">LINKS DE INTERES

                <div class="divisor"></div>
                <ul>
                    <li><a href="/preguntas-frecuentes">PREGUNTAS FRECUENTES</li></a><br>
                    <li><a href="/info">LA EMPRESA</li></a><br>
                    <li><a href="/soporte">SOPORTE TECNICO</li></a><br>

                </ul>
            </div>
            <div id="" class="col-12 col-lg-4 infoyhorarios">INFORMACION Y HORARIOS
                <div class="divisor"></div>
                <ul>
                    <li> <a
                            href="https://www.google.com/maps/place/Av.+Hipolito+Yrigoyen+5555,+B1826DQM+Remedios+de+Escalada,+Provincia+de+Buenos+Aires/@-34.7190302,-58.3964973,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccd3fda6c8ca1:0x3f1bf0560d96825e!8m2!3d-34.7190302!4d-58.3943086">Av.
                            Hipolito Yrigoyen 5555</a><br>
                        Lanús Oeste, Buenos Aires - Argentina</li>
                    <li>4626-1085</li>
                    <li><a href="/enviar-email">ventas@anonymouspc.com.ar</a></li>
                    <li>Lunes a Viernes de 8:30 a 17:00</li>
                    <li>Sábados de 9 a 12:30</li>
                    </p>
                </ul>
            </div>
            <div id="" class="col-12 col-lg-4 redes-sociales">REDES SOCIALES
                <div class="divisor"></div>
                <ul>
                    <a href="https://www.facebook.com/anonymouspc">
                        <p>Facebook
                    </a><i class="fab fa-facebook"></i>
                    </p>
                    <a href="https://www.twitter.com/anonymouspc">
                        <p>Twitter
                    </a> <i class="fab fa-twitter"></i>
                    </p>
                    <a href="https://www.instagram.com/anonymouspc">
                        <p>Instagram
                    </a><i class="fab fa-instagram"></i>
                    </p>
                </ul>
            </div>

        </div>
    </div>
</footer>

<!-- 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>